@media (max-width:1260px){
    /*header*/
    header .navigation .nav{
        width: 100%;
    }
    /*section1*/
    .logo-text h1{
        font-size: 150px;
        margin-left: 25px;
    }
    /*section2*/
    .images-about{
        width: 100%;
    }
    .images .img{
        width: 220px;
        min-height: 60%;
        margin-left: 10%;
    }
    .images .img img{
        width: 220px;
        height: 100%;
    }
    /*section3*/
    .port-slideshow{
        width: 100%;
    }
    /*section6*/
    .map{
        width: 80%;
    }
    .map iframe{ 
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .adress{
        width: 90%;
    }
}
@media (max-width:970px){
    /*header*/
    header{
        height: 30px;
    }
    header .navigation .nav{
        width: 100%;
    }
    header .navigation .nav ul li{
        padding: 0 5px; 
    }
    header .navigation .nav ul li a{
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 30px;
    }
    /*section1*/
    .logo-text h1{
        font-size: 100px;
        margin-left: 0px;
    }
    .logo-text h6{
        left: 35%;
    }
    /*section2*/
    .section2{
        height: 140vh;
    }
    .heading{
        width: 50%;
    }
    .heading h1{
        font-size: 34px;
    }
    .heading h6{
        font-size: 24px;
    }
    .images{
        height: 30%;
    }
    .images .img{
        width: 160px;
        min-height: 100%;
        margin-left: 5%;
    }
    .images .img img{
        width: 160px;
        height: 100%;
    }
    .text{
        width: 90%;
        height: 50%;
        margin: auto;
    }
    .text p{
        font-size: 24px;
    }
    /*section3*/
    .section3{
        height: 160vh;
    }
    .heading2{
        width: 50%;
    }
    .heading2 h1{
        font-size: 34px;
    }
    .box-content{
        width: 90%;
    }
    .footing1{
        width: 80%;
    }
    .footing1 h6{
        font-size: 24px;
    }
    .box h3{
        font-size: 18px;
    }
    /*section4*/
    .section4{
        height: 380vh;
    }
    #heading2{
        height: 6%;
        background-color: #ffffff;
    }
    .port-slideshow{
        height: 100%;
    }
    #images1{
        height: 100%;
        width: 100%;
    }
    #images2, #images3, #images4,#images5, #images6, #images7{
        height: 50%;
    }
    .portfolio{
        height: 85%;
    }
    .images-portfolio{
        display: block;

    }
    .images-portfolio .img1{
        margin-left: 25%;
        width: 380px;
        margin-top: 80px;
        min-height: 15%;
    }
    .images-portfolio .img1 img{
        width: 350px;
        height: 466px;
    }
    .images-portfolio .img1 h1{
        margin-top: -300px;
        right: 5px;
        font-size: 46px;
    }
    .images-portfolio .img1 h6{
        font-size: 24px;
        width: 80%;
    }
    #img8 h6, #img9 h6, #img10 h6, #img11 h6{
        width: 100%;
        margin-left: 0;
    }
    #img12 h6{
        width: 80%;
    }
    #img17 h6{
        width: 60%;
        margin-left: 20%;
    }
    /*section5*/
    .clients{
        height: 60%;
    }
    .client-section{
        height: 100%;
    }
    #heading6{
        background-color: #ffffff;
    }

    /*section6*/
    .section6{
        height: 90vh;
    }
    .contact .form{
        width: 90%;
        height: 90%;
    }
    /*section7*/
    .section7{
        height: 200vh;
        overflow-x: hidden;
    }
    .map{
        width: 100%;
    }
    .map iframe{ 
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        
    }
    .adress{
        width: 100%;
        display: block;
        margin-left: 33%;
    }
    .adress1 img{
        width: 20px;
        position: relative;
    }
    .adress2 img{
        width: 30px;
        position: relative;
        margin-left: 0;
    }
    .adress3 img{
        width: 30px;
        position: relative;
    }
    .adress2 h1{
        margin-left: 50px;
    }
    .social{
        margin-top: 100px;
    }
    .linkedin a, .instagram a, .pinterest a{
        font-size: 16px;
    }
    .privacy a, .terms a{
        font-size: 16px;
    }
}
@media (max-width:760px){
    /*navigation*/
    header{
        right: 0;
        width: 15%;
        height: 10%;
    }
    header.show{
        right: 0;
        width: 40%;
        height: 100%;
    }
    header .show .fas{
        margin-right: -60%;
        transform: rotate(90deg);
    }
    header .navigation .nav{
        display: none;
    }
    header .navigation .nav{
        width: 100%;
        height: auto;
        right: 0;
        margin-top: 69px;
        position: absolute;
        box-sizing: border-box;
        display: none;
        background-color: #36363D;
    }
    header .navigation .nav ul li a{
        font-size: 16px;
        padding: 0 10px;
    }
    header .navigation .nav.show{
        display: block;
        background-color: #36363D;
    }
    .hamburger.show{
        width: 100%;
        border-bottom-left-radius: 0px;
    }
    header .navigation .nav ul{
        display: block;
    }
    .hamburger{
        display: inline;
        background-color: #36363D;
    }
    /*section1*/
    .logo-text h1{
        font-size: 60px;
        margin-left: 0px;
    }
    .logo-text h6{
        left: 35%;
    }
    /*section 2*/
    .section2{
        height: 200vh;
    }
    .heading{
        height: 12%;
    }
    .heading h1{
        font-size: 24px;
    }
    .heading h6{
        font-size: 16px;
    }
    .text{
        height: 22%;
    }
    .text p{
        font-size: 18px;
    }
    .images{
        height: 65%;
    }
    .images .images-about{
        width: 50%;
        height: 30%;
        display: block;
        margin-left: 35%;
        margin-top: 5%;
    }
    .images .img img{
        margin-top: 30px;
    }
    /*section 3*/
    .section3{
        height: 230vh;
    }
    .box-content{
        width: 100%;
        height: 70%;
        display: block;
    }
    .heading1{
        height: 8%;
        margin-bottom: 25px;
    }
    .heading1 h1{
        font-size: 24px;
        margin-bottom: 0;
        line-height: 80px;
    }
    .heading2 h1::before{
        bottom: -20px;
    }
    .box-content{
        height: 80%;
    }
    .footing{
        height: 5%;
    }
    .footing1{
        width: 100%;
    }
    .footing h6{
        font-size: 16px;
        line-height: 50px;
    }
    /*section 4*/
    .section4{
        height: 300vh;
    }
    #heading2{
        height: 10%;
    }
    #heading3 h6{
        margin-top: 40px;
    }
    .portfolio{
        height: 85%;
    }
    #images1, #images2, #images3, #images4,#images5, #images6{
        height: 70%;
        margin-top: 0;
    }
    #images7{
        height: 70%;
        margin-top: 0;
    }
    .images-portfolio .img1{
        margin-left: 30%;
        height: 40%;
        width: 260px;
    }
    .images-portfolio .img1 img{
        width: 240px;
        height: 70%;
    }
    .images-portfolio .img1 h6{
        height: 5%;
        font-size: 16px;
        margin-left: 20px;
    }
    .images-portfolio .img1 h1{
        right: 7px;
        margin-top: -200px;
    }
    /*section 5*/
    .section5{
        height: 60vh;
    }
    #heading4{
        height: 15%;
        margin-bottom: 40px;
    }
    #heading4 h1{
        line-height: 80px;
    }
    .client{
        height: 85%;
    }
    .client-section{
        height: 120%;
    }
    .client-list{
        height: 40%;
        margin-top: 40px;
    }
    /*section 7*/
    .section7{
        height: 200vh;
    }
    #heading8 h1{
        font-size: 24px;
    }
    #heading9{
        width: 55%;
    }
    .adress{
        margin-left: 25%;
    }
    .social{
        width: 70%;
    }
    .privacy-content{
        width: 80%;
    }
    .privacy, .terms{
        margin-top: 0;
    }
}
@media (max-width:460px){
    header{
        right: 0;
        width: 15%;
        height: 10%;
    }
    header.show{
        right: 0;
        width: 40%;
        height: 100%;
    }
    header .show .fas{
        margin-right: -60%;
        transform: rotate(90deg);
    }
    .hamburger{
        font-size: 25px;
        height: 40px;
        line-height: 40px;
    }
    header .navigation .nav{
        margin-top: 39px;
    }
    header .navigation .nav ul li{
        padding: 10px;
    }
    header .navigation .nav ul li a{
        font-size: 18px;
        font-weight: 600;
    }
    .section1{
        height: 40vh;
    }
    .logo-text{
        width: 20%;
        height: 20%;
        transform: translate(-20%,-20%);
        left: 25%;
        top: 5%;
    }
    .logo-text h1{
        width: 100%;
        font-size: 40px;
        margin-left: 0px;
        font-weight: 600;
    }
    .logo-text h1::before{
        width: 240%;
        top: 75%;
        left: 30%;
    }
    .logo-text h6{
        width: 100%;
        left: 100%;
        bottom: 25%;
        font-size: 8px;
        top: 85%;
    }
    /*section 2*/
    .section2{
        height: 160vh;
    }
    .heading{
        width: 100%;
        height: 10%;
    }
    .heading h1{
        font-size: 18px;
    }
    .heading h6{
        font-size: 14px;
    }
    .text{
        height: 30%;
    }
    .text p{
        font-size: 14px;
    }
    .images{
        height: 60%;
    }
    .images .img img{
        width: 120px;
        margin-top: 15px;
    }
    .images .images-about{
        height: 20%;
        margin-left: 30%;
    }
    /*section 3*/
    .section3{
        height: 140vh;
    }
    .heading2{
        width: 50%;
    }
    .heading2 h1{
        font-size: 18px;
    }
    .box-content{
        height: 70%;
    }
    .box .img img{
        width: 120px;
        height: 120px;
    }
    .box h3{
        font-size: 12px;
    }
    /*section 4*/
    .section4{
        height: 240vh;
    }
    #heading2{
        height: 10%;
    }
    #heading3 h6{
        font-size: 12px;
    }
    .portfolio{
        height: 85%;
    }
    .images-portfolio .img1{
        margin-left: 20%;
        height: 35%;
    }
    .images-portfolio .img1 img{
        width: 200px;
        height: 80%;
    }
    .images-portfolio .img1 h1{
        margin-top: 80px;
        right: 35px;
        font-size: 32px;
    }
    .images-portfolio .img1 h6{
        font-size: 14px;
        margin-left: 5px;
        width: 70%;
    }
    #img8 h6, #img9 h6, #img10 h6, #img11 h6{
        width: 70%;
        margin-left:5px;
    }
    #img12 h6{
        width: 70%;
    }
    #img17 h6{
        width: 60%;
        margin-left: 20px;
    }
    /*section 6*/
    .section6{
        height: 130vh;
    }
    .contact .form input{
        font-size: 16px;
    }
    .contact .form textarea{
        min-width: 100%;
        max-width: 100%;
        max-height: 150px;
        min-height: 150px;
        font-size: 16px;
    }
    /*section 7*/
    .section7{
        height: 260vh;
    }
    #heading8 h1{
        font-size: 18px;
    }
    #heading9{
        width: 55%;
    }
    .map{
        width: 90%;
        height: 40%;
    }
    .map iframe{
        height: 90%;
        margin-top: 20px;
    }
    .adress{
        margin-left: 15%;
    }
    .adress1 h1{
        font-size: 16px;
        margin-left: 50px;
    }
    .adress2 h1{
        font-size: 16px;
    }
    .adress3 h1{
        font-size: 16px;
    }
    .social{
        width: 30%;
        display: block;
    }
    .linkedin img, .instagram img, .pinterest img{
        width: 50px;
        margin-top: 50px;
    }
    .linkedin a, .instagram a, .pinterest a{
        font-size: 16px;
    }
    .privacy-content{
        width: 80%;
    }
    .privacy, .terms{
        margin-top: 100px;
    }
    .privacy a, .terms a{
        font-size: 16px;
    }
    /*Gallery style*/
    .gallery-left, .gallery-left1, .gallery-left2, .gallery-left3,
    .gallery-left4,.gallery-left5, .gallery-left6,.gallery-left7,
    .gallery-left8, .gallery-left9, .gallery-left10,.gallery-left11,
    .gallery-left12, .gallery-left13, .gallery-left14,.gallery-left15,
    .gallery-left16, .gallery-left17, .gallery-left18,.gallery-left19{
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-right,.gallery-right1, .gallery-right2, .gallery-right3,
    .gallery-right4,.gallery-right5,.gallery-right6, .gallery-right7,
    .gallery-right8, .gallery-right9, .gallery-right10, .gallery-right11,
    .gallery-right12, .gallery-right13, .gallery-right14, .gallery-right15,
    .gallery-right16, .gallery-right17, .gallery-right18, .gallery-right19{
        right: 0;
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-center{
        width: 75%;
    }
    .gallery-center .left, .left1, .left2, .left3,
    .left4,.left5, .left6, .left7, .left8, .left9,
    .left10, .left11, .left12,.left13, .left14, .left15, 
    .left16, .left17,.left18, .left19{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 40%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
    .gallery-center .right, .right1, .right2, .right3,
    .right4, .right5,.right6, .right7, .right8, .right9,
    .right10, .right11, .right12, .right13,.right14, .right15, 
    .right16, .right17, .right18, .right19{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 95%;
    top: 40%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
}