@media screen and (min-width: 320px) and (max-height: 568px) and (min-height: 560px){
    header .navigation .nav ul li a{
        font-size: 12px;
    }
    .section1{
        height: 40vh;
    }
    .logo-text{
        width: 20%;
        height: 20%;
        transform: translate(-20%,-20%);
        left: 20%;
        top: 10%;
    }
    .logo-text h1{
        width: 100%;
        font-size: 34px;
        margin-left: 10%;
        font-weight: 600;
        letter-spacing: 25px;
    }
    .logo-text h1::before{
        width: 260%;
        top: 80%;
        left: 40%;
    }
    .logo-text h6{
        width: 100%;
        left: 110%;
        bottom: 25%;
        font-size: 8px;
        top: 95%;
    }
    /*section 2*/
    .section2{
        height: 180vh;
    }
    .heading{
        width: 100%;
        height: 10%;
    }
    .heading h1{
        font-size: 18px;
    }
    .heading h6{
        font-size: 12px;
    }
    .text{
        height: 35%;
    }
    .text p{
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .images{
        height: 52%;
    }
    .images .img{
        margin-top: 10px;
    }
    .images .img img{
        width: 120px;
        height: 33%;
    }
    .images .images-about{
        height: 33%;
        display: block;
        margin-left: 30%;
    }
    /*section 3*/
    .section3{
        height: 145vh;
    }
    .heading1{
        height: 10%;
    }
    .heading2{
        width: 100%;
    }
    .heading2 h1{
        font-size: 18px;
    }
    .box-content{
        height:70%;
        display: block;
    }
    .box .img img{
        width: 120px;
        height: 120px;
    }
    .box h3{
        font-size: 10px;
    }
    .footing{
        height: 5%;
        line-height: 25px;
    }
    /*section 4*/
    .section4{
        height: 190vh;
    }
    #heading2{
        height: 10%;
    }
    #heading3 h6{
        font-size: 12px;
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    .portfolio{
        height: 90%;
    }
    .images-portfolio .img1{
        margin-left: 20%;
        height: 40%;
        margin-top: 30px;
    }
    .images-portfolio .img1 img{
        width: 200px;
        height: 75%;
    }
    .images-portfolio .img1 h1{
        margin-top: 80px;
        right: 35px;
        font-size: 32px;
    }
    .images-portfolio .img1 h6{
        font-size: 14px;
        margin-left: 5px;
        width: 70%;
    }
    #img8 h6, #img9 h6, #img10 h6, #img11 h6{
        width: 70%;
        margin-left:5px;
    }
    #img12 h6{
        width: 70%;
    }
    #img17 h6{
        width: 60%;
        margin-left: 20px;
    }
    /*Section 5*/
    #heading5{
        width: 100%;
    }
    #list1, #list2, #list5, #list6{
        width: 100%;
        height: 100%;
    }
    #list3{
        width: 100%;
        height: 100%;
    }
    #list4{
        width: 100%;
        height: 100%;
        
    }
    #list7{
        width: 100%;
        height: 100%;
       
    }
    /*section 6*/
    .section6{
        height: 100vh;
    }
    #heading7{
        width: 100%;
    }
    .contact .form input{
        font-size: 14px;
    }
    .contact .form textarea{
        min-width: 100%;
        max-width: 100%;
        max-height: 100px;
        min-height: 100px;
        font-size: 14px;
    }
    /*section 7*/
    .section7{
        height: 180vh;
    }
    #heading8 h1{
        font-size: 18px;
    }
    #heading9{
        width: 100%;
    }
    .empty{
        height: 5%;
    }
    .find-us{
        height: 85%;
    }
    .map{
        width: 90%;
        height: 35%;
    }
    .map iframe{
        height: 90%;
        margin-top: 20px;
    }
    .adress{
        margin-left: 20%;
        height: 18%;
    }
    .adress1 h1{
        font-size: 16px;
        margin-left: 50px;
    }
    .adress2 h1{
        font-size: 16px;
    }
    .adress3 h1{
        font-size: 16px;
    }
    .social{
        width: 30%;
        height: 20%;
        display: block;
        margin-top: 0;
    }
    .linkedin img, .instagram img, .pinterest img{
        width: 40px;
        margin-top: 15px;
    }
    .linkedin a, .instagram a, .pinterest a{
        font-size: 16px;
    }
    .privacy-content{
        width: 80%;
        height: 20%;
        margin-top: 50px;
    }
    .privacy, .terms{
        margin-top: 30px;
    }
    .privacy a, .terms a{
        font-size: 10px;
    }
    /*Job application*/
    .content-job{
        width: 90%;
    }  
    .heading-job{
        width: 100%;
        margin: auto;
    } 
    .heading-job1{
        width: 50%;
    }
    .heading-job1 h1{
        font-size: 16px;
    }
    .heading-job1 h1::before{
        top: 10%;
        width: 50%;
        left: 25%;
    }
    .content-form{
        width: 95%;
    }
    .btnClose{
        top: 20px;
        right: 30px;
    }
    .content-form .form input{
        font-size: 10px;
        letter-spacing: 1px;
    }
    .form textarea{
        font-size: 10px;
        letter-spacing: 1px;
    }
    /*Privacy policy*/
    .heading-privacy1{
        width: 50%;
    }
    .heading-privacy1 h1{
        font-size: 16px;
    }
    .heading-privacy1 h1::before{
        width: 50%;
        top: 10%;
        left: 25%;
    }
    .content-privacy{
        width: 90%;
        top:50%;
    }
    .policy{
        width: 95%;
    }
    .policy p{
        font-size: 12px;
    }
    .btnClose-privacy{
        top: 20px;
        right: 30px;
    }
    /*Terms style*/
    .content-terms{
        width: 90%;
    }
    .heading-terms1{
        width: 80%;
    }
    .heading-terms1 h1{
        font-size: 16px;
    }
    .heading-terms1 h1::before{
        width: 50%;
        top: 15%;
        left: 25%;
    }
    .terms{
        width: 95%;
    }
    .terms p{
        font-size: 12px;
    }
    .btnClose-terms{
        top: 20px;
        right: 30px;
    }
}
@media screen and (min-width: 800px) and (max-height: 1280px) and (min-height: 1000px){
    /*Header*/
    header{
        height: 50px;
    }
    header .navigation .nav ul li a{
        line-height: 50px;
    }
    /*Section 1 tablet*/
    .logo-text h1::before{
        top:30%;
    }
    .logo-text h6{
        top: 50%;
    }
    /*Section 2 tablet*/
    .section2{
        height: 90vh;
    }
    /*Section 3 tablet*/
    .section3{
        height: 90vh;
    }
    .box-content{
        height: 60%;
    }
    .footing h6{
        line-height: 100px;
    }
    /*Section 4 tablet*/
    .section4{
        height: 130vh;
    }
    #heading2{
        height: 12%;
    }
    /*Section 5 tablet*/
    .section5{
        height: 50vh;
    }
    /*Section 6 tablet*/
    .section6{
        height: 60vh;
    }
    /*Section 7 tablet*/
    .section7{
        height: 100vh;
    }
    /*Job application*/
    .content-job{
        width: 90%;
    }  
    .heading-job{
        width: 80%;
        margin: auto;
    } 
    .heading-job1 h1{
        font-size: 18px;
    }
    .heading-job1 h1::before{
        top: 7%;
    }
    /*Privacy policy*/
    .heading-privacy1{
        width: 50%;
    }
    .heading-privacy1 h1{
        font-size: 18px;
    }
    .heading-privacy1 h1::before{
        width: 50%;
        top: 7%;
        left: 25%;
    }
    /*Terms style*/
    .content-terms{
        width: 90%;
    }
    .heading-terms1{
        width: 80%;
    }
    .heading-terms1 h1{
        font-size: 18px;
    }
    .heading-terms1 h1::before{
        width: 50%;
        top: 12%;
        left: 25%;
    }
    /*Gallery style*/
    .gallery-left, .gallery-left1, .gallery-left2, .gallery-left3,
    .gallery-left4,.gallery-left5, .gallery-left6,.gallery-left7,
    .gallery-left8, .gallery-left9, .gallery-left10,.gallery-left11,
    .gallery-left12, .gallery-left13, .gallery-left14,.gallery-left15,
    .gallery-left16, .gallery-left17, .gallery-left18,.gallery-left19{
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-right,.gallery-right1, .gallery-right2, .gallery-right3,
    .gallery-right4,.gallery-right5,.gallery-right6, .gallery-right7,
    .gallery-right8, .gallery-right9, .gallery-right10, .gallery-right11,
    .gallery-right12, .gallery-right13, .gallery-right14, .gallery-right15,
    .gallery-right16, .gallery-right17, .gallery-right18, .gallery-right19{
        right: 0;
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-center{
        width: 75%;
    }
    .gallery-center .left, .left1, .left2, .left3,
    .left4,.left5, .left6, .left7, .left8, .left9,
    .left10, .left11, .left12,.left13, .left14, .left15, 
    .left16, .left17,.left18, .left19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 5%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    .gallery-center .right, .right1, .right2, .right3,
    .right4, .right5,.right6, .right7, .right8, .right9,
    .right10, .right11, .right12, .right13,.right14, .right15, 
    .right16, .right17, .right18, .right19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 95%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
}
@media screen and (min-width: 768px) and (max-height: 1024px) and (min-height: 1000px){
    /*Section 1 tablet*/
    .logo-text h1::before{
        top: 30%;
        width: 80%;
        left: 15%;
    }
    .logo-text h6{
        top: 50%;
    }
    /*Section 2 tablet*/
    .section2{
        height: 90vh;
    }
    /*Section 3 tablet*/
    .section3{
        height: 90vh;
    }
    .box-content{
        height: 55%;
    }
    .footing h6{
        line-height: 100px;
    }
    /*Section 4 tablet*/
    .section4{
        height: 150vh;
    }
    #heading2{
        height: 10%;
    }
    /*Section 5 tablet*/
    .section5{
        height: 50vh;
    }
    /*Section 6 tablet*/
    .section6{
        height: 60vh;
    }
    /*Section 7 tablet*/
    .section7{
        height: 220vh;
    }
    .privacy{
        margin-top: -100px;
    }
    .terms{
        margin-top: -50px;
    }
    /*Job application*/
    .content-job{
        width: 90%;
    }  
    .heading-job{
        width: 80%;
        margin: auto;
    } 
    .heading-job1 h1{
        font-size: 18px;
    }
    .heading-job1 h1::before{
        top: 7%;
    }
     /*Privacy policy*/
     .heading-privacy1{
        width: 50%;
    }
    .heading-privacy1 h1{
        font-size: 18px;
    }
    .heading-privacy1 h1::before{
        width: 50%;
        top: 10%;
        left: 25%;
    }
    /*Terms style*/
    .content-terms{
        width: 90%;
    }
    .heading-terms1{
        width: 80%;
    }
    .heading-terms1 h1{
        font-size: 18px;
    }
    .heading-terms1 h1::before{
        width: 50%;
        top: 15%;
        left: 25%;
    }
    .heading-terms{
        height: 20%;
    }
    /*Gallery style*/
    .gallery-left, .gallery-left1, .gallery-left2, .gallery-left3,
    .gallery-left4,.gallery-left5, .gallery-left6,.gallery-left7,
    .gallery-left8, .gallery-left9, .gallery-left10,.gallery-left11,
    .gallery-left12, .gallery-left13, .gallery-left14,.gallery-left15,
    .gallery-left16, .gallery-left17, .gallery-left18,.gallery-left19{
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-right,.gallery-right1, .gallery-right2, .gallery-right3,
    .gallery-right4,.gallery-right5,.gallery-right6, .gallery-right7,
    .gallery-right8, .gallery-right9, .gallery-right10, .gallery-right11,
    .gallery-right12, .gallery-right13, .gallery-right14, .gallery-right15,
    .gallery-right16, .gallery-right17, .gallery-right18, .gallery-right19{
        right: 0;
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-center{
        width: 75%;
    }
    .gallery-center .left, .left1, .left2, .left3,
    .left4,.left5, .left6, .left7, .left8, .left9,
    .left10, .left11, .left12,.left13, .left14, .left15, 
    .left16, .left17,.left18, .left19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 5%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    .gallery-center .right, .right1, .right2, .right3,
    .right4, .right5,.right6, .right7, .right8, .right9,
    .right10, .right11, .right12, .right13,.right14, .right15, 
    .right16, .right17, .right18, .right19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 95%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
}
@media screen and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1200px){
    /*Section 1 tablet*/
    .section1{
        height: 50vh;
    }
    .logo-text{
        top: 40%;
        left: 47%;
    }
    .logo-text h1::before{
        top: 30%;
        width: 80%;
        left: 15%;
    }
    .logo-text h6{
        top: 35%;
    }
    /*Section 2 tablet*/
    .section2{
        height: 90vh;
    }
    .images .img{
        margin-left: 5%;
    }
    /*Section 3 tablet*/
    .section3{
        height: 90vh;
    }
    .box-content{
        height: 55%;
    }
    .footing{
        height: 10%;
    }
    .footing1{
        width: 60%;
    }
    .footing h6{
        line-height: 100px;
    }
    /*Section 4 tablet*/
    .section4{
        height: 80vh;
    }
    #heading2{
        height: 25%;
    }
    .images-portfolio .img1{
        margin-left: 30px;
    }
    /*Section 5 tablet*/
    .section5{
        height: 50vh;
    }
    /*Section 6 tablet*/
    .section6{
        height: 70vh;
    }
    /*Section 7 tablet*/
    .section7{
        height: 130vh;
    }
    #heading8{
        height: 5%;
    }
    .empty{
        height: 5%;
    }
    .map{
        height: 30%;
    }
    .adress{
        height: 5%;
    }
    .adress1, .adress2, .adress3{
        margin-left: 5%;
    }
    .privacy{
        margin-top: -80px;
    }
    .terms{
        margin-top: -40px;
    }
    /*Job application*/
    .content-job{
        width: 90%;
    }  
    .heading-job{
        width: 80%;
        margin: auto;
    } 
    .heading-job1 h1{
        font-size: 18px;
    }
    .heading-job1 h1::before{
        top: 7%;
    }
    /*Privacy policy*/
    .heading-privacy1{
        width: 50%;
    }
    .heading-privacy1 h1{
        font-size: 18px;
    }
    .heading-privacy1 h1::before{
        width: 50%;
        top: 10%;
        left: 25%;
    }
    /*Terms style*/
    .content-terms{
        width: 90%;
    }
    .heading-terms1{
        width: 80%;
    }
    .heading-terms1 h1{
        font-size: 18px;
    }
    .heading-terms1 h1::before{
        width: 50%;
        top: 15%;
        left: 25%;
    }
    .heading-terms{
        height: 20%;
    }
    /*Gallery style*/
    .gallery-left, .gallery-left1, .gallery-left2, .gallery-left3,
    .gallery-left4,.gallery-left5, .gallery-left6,.gallery-left7,
    .gallery-left8, .gallery-left9, .gallery-left10,.gallery-left11,
    .gallery-left12, .gallery-left13, .gallery-left14,.gallery-left15,
    .gallery-left16, .gallery-left17, .gallery-left18,.gallery-left19{
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-right,.gallery-right1, .gallery-right2, .gallery-right3,
    .gallery-right4,.gallery-right5,.gallery-right6, .gallery-right7,
    .gallery-right8, .gallery-right9, .gallery-right10, .gallery-right11,
    .gallery-right12, .gallery-right13, .gallery-right14, .gallery-right15,
    .gallery-right16, .gallery-right17, .gallery-right18, .gallery-right19{
        right: 0;
        width: 10%;
        height: 30%;
        cursor: pointer;
    }
    .gallery-center{
        width: 75%;
    }
    .gallery-center .left, .left1, .left2, .left3,
    .left4,.left5, .left6, .left7, .left8, .left9,
    .left10, .left11, .left12,.left13, .left14, .left15, 
    .left16, .left17,.left18, .left19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 5%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    .gallery-center .right, .right1, .right2, .right3,
    .right4, .right5,.right6, .right7, .right8, .right9,
    .right10, .right11, .right12, .right13,.right14, .right15, 
    .right16, .right17, .right18, .right19{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 95%;
        top: 40%;
        transform: translate(-50%,-50%);
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
}